/* Universal Selectors */

:root {
    --main: rgb(177, 233, 255);
    --sec: linear-gradient(122deg, rgba(34,34,34,1) 13%, rgba(0,251,134,1) 100%);
    --white: #eee;
    --bgcolor: #121212;
    --gray: #222;
}

html {
    scroll-behavior: smooth;
}


body {
    margin: 0 0 100px;
    background-color: var(--white);
    font-family: sans-serif;
}

/* Header Styling */

nav {
    background-color: var(--gray);
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-links a {
    text-decoration: none;
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    transition: all 0.7s ease-out;
}

.nav-links a:hover, a:focus {
    background-color: white;
    color: black;
}

/* Body Styling */

main {
    margin-left: 20px;
    margin-right: 20px;
}

.flex-links {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.flex-links img {
    border: 1px var(--gray) solid;
    /* border-radius: 25px; */
    margin: 5px;
}

.img-container {
    /* border: black 1px solid; */
    /* background-color: var(--gray); */
    margin: 20px;
}


.img-container img:hover {
    transform: scale3d(1.1,1.1,1);
    transition: transform 1s ease-in-out;
}


#primary-container {
    width: 1300px;
    height: 470px;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    /* background-color: var(--gray); */
    /* border-radius: 5px; */
}

#primary-container h3 {
    position: absolute;
    color:var(--white);
    font-size: 40px;
}

.secondary-container {
    display: flex;
    justify-content: center;
    /* border-radius: 5px; */
}

.secondary-container h3 {
    position: absolute;
    /* color: var(--white); */
    font-size: 40px;
}

#Brewery {
    color: var(--white);
}