/* Universal Selectors */

:root {
    --main: rgb(177, 233, 255);
    --sec: linear-gradient(122deg, rgba(34,34,34,1) 13%, rgba(0,251,134,1) 100%);
    --white: #eee;
    --bgcolor: #121212;
    --gray: #222;
    --brown: #251a14;
    --yellow: #b8b373;
    --green: #9bc5a2;
}

/* scroll on click is smoother */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 100px;
    background-color: var(--white);
    font-family: 'Poppins', sans-serif;
}

/* Header Styling */

nav {
    background-color: var(--green);
    padding-left: 5px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-links a {
    text-decoration: none;
    display: block;
    color: var(--gray);
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    transition: all 0.7s ease-out;
}

/* hover and focus styling */
.nav-links a:hover, a:focus {
    background-color: var(--brown);
    color: var(--white);
    font-weight: normal;
}

/* Body Styling */

main {
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    margin-bottom: 20px;
}

/* About me section */

.about {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.about img {
    /* border: var(--yellow) 1px solid;
    outline: var(--brown) 3px solid; */
    border-radius: 10px;
    margin-top: 10px;
}

h1 {
    font-size: 30px;
    text-decoration: overline;
    margin-bottom: 0px;
}

/* Styling for images, containers and flexboxes */

.flex-links {
    background: linear-gradient(180deg, rgba(155,197,162,1) 0%, rgba(37,26,20,1) 50%, rgba(184,179,115,1) 100%);
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.flex-links img {
    border: 1px var(--gray) solid;
    margin: 5px;
    opacity: 0.6;

}

.img-container {
    margin: 20px;
}

.img-container img:hover {
    transform: scale3d(1.05,1.05,1);
    transition: transform 1s ease-in-out;
    opacity: 1;
}

/* Hero Container styling */

#primary-container {
    width: 1300px;
    height: 470px;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}

#primary-container h3 {
    position: absolute;
    color:var(--white);
    font-size: 40px;
}

/* Styling for smaller images */

.secondary-container {
    display: flex;
    justify-content: center;
}

.secondary-container h3 {
    position: absolute;
    font-size: 40px;
}

#Brewery {
    color: var(--white);
}


/* text styling, added opaque background for better contrast */
#css-guide {
    background-color: rgba(48, 48, 48, 0.6);
    color: white;
    border-radius: 5px;
}

/* Contact Section */

footer {
    /* left: 0;
    right: 0; */
    bottom: 0;
    width: 100%;
}

#contact {
    /* border-top: black 5px solid; */
    display:flex;
    flex-direction: column;
}

#contact h1 {
    text-align: center;
    font-size: 30px;
}

.contact-list {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 20px;
}

.contact-list a {
    color: black;
    text-decoration: none;
}

.contact-list li {
    padding: 5px 30px;
    background-color: var(--yellow);
    margin: 10px;
}

/* hover styling */
.contact-list li:hover {
    font-weight: bolder;
    filter: drop-shadow(0 0 0.75rem var(--yellow));
}

/* Responsive styling */

@media screen and (max-width: 1300px) {
    #primary-container {
        width: 975px;
        height: 352.5px;
    }

    #primary-container img {
        width: 975px;
        height: 352.5px;
    }
}

/* Tablet Sizing */
@media screen and (max-width: 992px) {
    .about img {
        width: 540px;
        object-fit: cover;
    }

    #primary-container {
        width: 585px;
        height: 211.5px;
    }
    
    #primary-container img {
        width: 585px;
        height: 211.5px;
    }

    .contact-list {
        flex-direction: column;
        justify-content: space-evenly;
        text-align: right;
    }
}

@media screen and (max-width: 620px) {
    .about img {
        width: 380px;
        object-fit: cover;
    }

    #primary-container {
        width: 415px;
        height: 150.04px;
    }
    
    #primary-container img {
        width: 415px;
        height: 150.04px;
    }

    .secondary-container img {
        width: 300px;
        height: 185.16px;
    }

    #primary-container h3 {
        font-size: 30px;
    }

    .secondary-container h3 {
        font-size: 30px;
    }
}

/* Phone sizing */
@media screen and (max-width: 430px) {
    .about img {
        width: 260px;
        object-fit: cover;
    }

    #primary-container {
        width: 300px;
        height: 108.43px;
    }
    
    #primary-container img {
        width: 300px;
        height: 108.43px;
    }

    .secondary-container img {
        width: 300px;
        height: 185.16px;
    }
}